Options -Indexes

<Files "config.php">
    Order allow,deny
    Deny from all
</Files>

ErrorDocument 404 error404.html
ErrorDocument 500 error500.html

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

<FilesMatch "(^\.|config\.php|\.env)">
    Order allow,deny
    Deny from all
</FilesMatch>

Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff

<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    Header set Access-Control-Allow-Origin "https://voltura.se"
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Allow-Methods "GET, POST"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

Header set Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self' https://cdnjs.cloudflare.com; font-src 'self' https://cdnjs.cloudflare.com; object-src 'none'; frame-ancestors 'none'; base-uri 'self';"
Header set Referrer-Policy "no-referrer-when-downgrade"

<FilesMatch "\.(html|php)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires 0
</FilesMatch>

Header set X-XSS-Protection "1; mode=block"
